@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 80%;
    background-image: url("background_img.jpg");
}
.form-body{
    display: flex;
    align-items: center;
}


.form-holder {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      /* min-height: 10vh; */
}

.form-content .form-items {
    /* border: 3px solid #fff; */
    padding: 5px;
    display: inline-block;
    width: 100%;
    min-width: 400px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #0e0d0d;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 5px;
}

.form-content p,label,td,button {
    color: #050101;
}
.row {
    display: flex;
    margin-left: 150px;
}
.form-holder {
    width: 100%;
}
.form-group {
    margin-bottom: 0.2rem;
}